@charset "UTF-8";
@import "reset.css";
body {
	font: 400 16px/1.5 "Microsoft YaHei", "微软雅黑", sans-serif;
	color: #111111;
	background-color: #fdfdfd;
	padding: 30px;
}

@media only screen and (max-width: 600px) {
	body {
		padding: 5px;
	}
	body>#content {
		padding: 0px 20px 20px 20px !important;
	}
}

body>#content {
	margin: 0px;
	max-width: 900px;
	border: 1px solid #e1e4e8;
	padding: 10px 40px;
	padding-bottom: 20px;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

body>#footer {
	font-size: 0.9em;
	text-align: center;
	color: hsla(0, 0%, 0%, 0.62);
}


/**
 * 链接
 */

a {
	color: RoyalBlue;
	text-decoration: none;
}

a:visited {
	color: RoyalBlue;
}

a:hover {
	color: RoyalBlue;
	text-decoration: underline;
}

/**
  * 代码块
  */

code {
	background-color: rgba(27, 31, 35, .05);
	border-radius: 3px;
	font-size: 95%;
	margin: 0;
	word-wrap: break-word;
	padding: 0.2em 0.4em;
	font-family: Consolas, "Liberation Mono", "Courier New", Courier;
}

pre {
	background-color: rgba(27, 31, 35, .05);
	border-radius: 3px;
	font-size: 95%;
	line-height: 1.45;
	overflow: auto;
	padding: 16px;
	font-family: Consolas, "Liberation Mono", "Courier New", Courier;
}

/**
 * Blockquote
 */

blockquote {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 16px;
	border-left-width: 3px;
	padding: 0 1em;
	color: #828282;
	border-left: 4px solid #e8e8e8;
	padding-left: 15px;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;
}

blockquote * {
	font-style: normal !important;
	letter-spacing: 0;
	color: #6a737d !important;
}


/**
 * 表格
 */

table {
	border-spacing: 2px;
	display: block;
	overflow: auto;
	width: 100%;
	margin: 1.5em 0 1.5em 0;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

th {
	font-weight: bold;
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
	background-color: #f6f8fa;
}


/**
 * 其他
 */

img {
	max-width: 100%;
}

p {
	line-height: 200%;
	color: #24292e;
	margin: 1em 0 1em 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul {
	list-style-type: disc ;
	margin: 1em 2.6em 1em 2.6em;
}

ol {
	list-style-type: decimal;
	margin: 1em 2.6em 1em 2.6em;
}

li {
	line-height: 180%;
}

li+li {
	margin-top: 0.25em;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height:150%;
	margin: 1.5em 0 0.5em 0;
}

h1 {
	font-size: 2.4em;
	border-bottom: 1px solid #eaecef;
}

h2 {
	font-size: 2em;
	border-bottom: 1px solid #eaecef;
}

h3 {
	font-size: 1.6em;
	border-bottom: 1px solid #eaecef;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.2em;
}
