@charset "UTF-8";

@import "reset.css";

body {
	font: 400 16px/1.5 "Microsoft YaHei", Helvetica, Arial, sans-serif;
	color: black;
	background-color: white;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	padding: 2em;
	line-height: 1.2em;
}

@media only screen and (max-width: 600px) {
	body {
		padding: 5px;
	}
	body>#content {
		padding: 0px 20px 20px 20px !important;
	}
}

body>#content {
	margin: 0px;
	max-width: 900px;
	border: 1px solid #e1e4e8;
	padding: 10px 40px;
	padding-bottom: 20px;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

body>#footer {
	font-size: 14px;
	text-align: center;
	color: hsla(0, 0%, 0%, 0.62);
}


/**
 * 链接
 */

a {
	color: #6633CC;
	text-decoration: none;
}

a:visited {
	color: #6633CC;
}

a:hover {
	color: #6633CC;
	text-decoration: underline;
}

/**
  * 代码块
  */

code {
	background-color: rgba(27, 31, 35, .05);
	border-radius: 3px;
	font-size: 85%;
	margin: 0;
	word-wrap: break-word;
	padding: 0.2em 0.4em;
	font-family: Monospace, "Courier New", Courier;
}

pre {
	background-color: rgba(27, 31, 35, .05);
	text-align: left;
	border-radius: 3px;
	font-size: 100%;
	line-height: 100%;
	overflow: auto;
	padding: 1em;
	font-family: Monospace, "Courier New", Courier;
}

/**
 * Blockquote
 */

blockquote {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 16px;
	border-left-width: 3px;
	padding: 0 1em;
	color: #828282;
	border-left: 4px solid #e8e8e8;
	padding-left: 15px;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;
}

blockquote * {
	font-style: normal !important;
	letter-spacing: 0;
	color: #6a737d !important;
}


/**
 * 表格
 */

table {
	border-spacing: 2px;
	display: block;
	font-size: 100%;
	overflow: auto;
	width: 100%;
	margin: 1em 0 1em 0;
	border-collapse: collapse;
}

td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

th {
	font-weight: normal;
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

tr {
	border-top: 1px solid #c6cbd1;
}

/**
 * 其他
 */

img {
	max-width: 100%;
	margin: 1em 0 1em 0;
}

p {
	line-height: 32px;
	color: #24292e;
	font-weight: 400;
	font-size: 16px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ins {
	background-color: yellow;
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

ul {
	list-style-type: disc ;
    padding: 0 0 0 3em;
    margin-top: 1em;
    margin-bottom: 1em;
   }

ol {
	list-style-type: decimal;
    padding: 0 0 0 3em;
    margin-top: 1em;
    margin-bottom: 1em;
   }

ul ul, ol ol, ul ol, ol ul {
    margin-top: 1em;
    margin-bottom: 1em;
   }

li {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
   }

li p {
    margin-top: 1em;
    margin-bottom: 1em;
    }


sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

h1 {
    font-size: 180%;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.5em;
    margin-bottom: 1.1em;
}

h3 {
    font-size: 130%;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.3em;
    margin-bottom: 1.1em;
}

h4 {
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

h5 {
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

h6 {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}
