<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="Stylesheet" type="text/css" href="%root_path%css/style.css">
<title>%title%</title>
<meta charset="UTF-8">
<meta name="description" content="Mike Akiba的个人网站">
<meta name="author" content="Mike Akiba">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script data-ad-client="ca-pub-5897293653782166" async src=
"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- Vimwiki内容替换开始 -->
<div id="content">
%content%
</div>
<!-- Vimwiki内容替换结束 -->
<!-- footer开始 -->
<div id="footer">
<p>© 2020 Mike的工作室； 更新于：%date%</p>
</div>
<!-- footer结束 -->
</body>
</html>
